@model List<SENSEI.WEB.Models.SidebarItem>

@{
	Layout = null;
}

<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="index.html">
			<span class="align-middle">SENSEI JAPANEESE CENTER</span>
		</a>

		<ul class="sidebar-nav">
			
			@foreach(var item in Model)
			{
				<li class="sidebar-item">
					<a class="sidebar-link" href="@item.Url">
						<i class="align-middle" data-feather="@item.Icon"></i> <span class="align-middle">@item.Title</span>
					</a>
				</li>
			}

		</ul>

		@* <div class="sidebar-cta">
			<div class="sidebar-cta-content">
				<strong class="d-inline-block mb-2">Upgrade to Pro</strong>
				<div class="mb-3 text-sm">
					Are you looking for more components? Check out our premium version.
				</div>
				<div class="d-grid">
					<a href="~/theme/v1/upgrade-to-pro.html" class="btn btn-primary">Upgrade to Pro</a>
				</div>
			</div>
		</div> *@
	</div>
</nav>