@using core_web.Helpers
@{
	Layout = null;
}

<nav class="navbar navbar-expand navbar-light navbar-bg py-3 px-4 shadow-none" style="z-index:1 !important">
	<div class="d-flex align-items-center">
		<a class="sidebar-toggle js-sidebar-toggle">
			<i class="hamburger align-self-center"></i>
		</a>
		<div class="ms-3 d-none d-md-block">
			<span style="font-weight: 900; color: var(--sensei-red); font-size: 0.9rem; letter-spacing: 0.1em; text-transform: uppercase;">
                Student LMS Portal
            </span>
		</div>
	</div>

	<div class="navbar-collapse collapse">
		<ul class="navbar-nav navbar-align">
			<!-- notification -->
			@Html.RenderAction("AdminPortalNotification", "Layout", new { area = "" })

			<!-- message -->
			@Html.RenderAction("AdminPortalMessages", "Layout", new { area = "" })

			<!-- profile -->
			@Html.RenderAction("AdminPortalProfile", "Layout", new { area = "" })
		</ul>
	</div>
</nav>
