<footer class="footer">
	<div class="container-fluid">
		<div class="row text-muted">
			<div class="col-12 col-sm-6 text-center text-sm-start">
				<p class="mb-0">
					<a class="text-muted fw-700" href="#" target="_blank"><strong>SENSEI</strong> LMS</a> &copy; @DateTime.Now.Year
				</p>
			</div>
			<div class="col-12 col-sm-6 text-center text-sm-end mt-2 mt-sm-0">
				<ul class="list-inline mb-0">
					<li class="list-inline-item d-none d-md-inline-block">
						<a class="text-muted" href="#">Support</a>
					</li>
					<li class="list-inline-item">
						<a class="text-muted fw-600" href="https://wa.me/94742423011" target="_blank">
							<i class="fab fa-whatsapp text-success me-1"></i> 074 242 30 11
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
