﻿@{
Layout = null;
}
<div class="offcanvas offcanvas-end" tabindex="-1" id="studentRegistrationOffcanvas" aria-labelledby="studentRegistrationOffcanvasLabel">

    <div id="studentRegistration-offcanvas-content"></div>

</div>