@{
    Layout = null;
}
<div class="offcanvas offcanvas-end" tabindex="-1" id="studentPaymentOffcanvas" aria-labelledby="studentPaymentOffcanvasLabel">

    <div id="studentPayment-offcanvas-content"></div>

</div>