@{
    Layout = null;
}
<div class="offcanvas offcanvas-end" tabindex="-1" id="myLearningOffcanvas" aria-labelledby="myLearningOffcanvasLabel">

    <div id="myLearning-offcanvas-content"></div>

</div>