@{
    Layout = null;
}
<div class="offcanvas offcanvas-end" tabindex="-1" id="batchLessonOffcanvas" aria-labelledby="batchLessonOffcanvasLabel">

    <div id="batch-lesson-offcanvas-content"></div>

</div>
