@{
    Layout = null;
}
<div class="offcanvas offcanvas-end" tabindex="-1" id="batchLessonOffcanvas" aria-labelledby="batchLessonOffcanvasLabel">

    <div id="batch-lesson-offcanvas-content"></div>

</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="batchLessonReferenceOffcanvas" aria-labelledby="batchLessonReferenceOffcanvasLabel">

    <div id="batch-lesson-Reference-offcanvas-content"></div>

</div>
