@{
    Layout = null;
}
 <div class="offcanvas offcanvas-end" tabindex="-1" id="courseOffcanvas" aria-labelledby="courseOffcanvasLabel"> 
     
     <div id="course-offcanvas-content"></div> 
     
 </div>