@using SENSEI.DOMAIN
@model IEnumerable<Course>

@{
    Layout = null;
}

<table class="table align-middle mb-0">
    <thead>
        <tr>
            <th></th>
            <th>Course Name</th>
            <th>Course Code</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var course in Model)
            {
                <tr>
                    <td></td>
                    <td>@course.CourseName</td>
                    <td>@course.CourseCode</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center text-muted">
                    No courses found
                </td>
            </tr>
        }
    </tbody>
</table>
