@{
    Layout = null;
}

<div class="offcanvas offcanvas-end" tabindex="-1" id="studentbatchpaymentOffcanvas" aria-labelledby="studentbatchpaymentOffCanvasLabel">

    <div id="studentbatchpayment-offcanvas-content"></div>

</div>