@using SENSEI.DOMAIN
@model Batch

@{
    Layout = null;
}



<div class="offcanvas-header">
    <h5 class="offcanvas-title">New Batch</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
</div>

<div class="offcanvas-body">

    <form id="batch-create-form" asp-area="AdminPortal" asp-controller="Batch" asp-action="Create"
          data-ajax="true" data-ajax-method="POST"
          data-ajax-begin="onBatchCreateBegin" data-ajax-success="onBatchCreateSuccess" data-ajax-failure="onBatchCreateFailure" data-ajax-complete="onBatchCreateComplete">


        <div class="mb-3">
            <label class="form-label">@Html.DisplayNameFor(m => m.CourseId)</label>
            <select id="CourseId" class="form-control course-select" asp-for="CourseId"></select>
            <span asp-validation-for="CourseId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">@Html.DisplayNameFor(m => m.BatchName)</label>
            <input class="form-control" asp-for="BatchName" />
            <span asp-validation-for="BatchName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">@Html.DisplayNameFor(m => m.BatchStartDate)</label>
            <input class="form-control" asp-for="BatchStartDate" />
            <span asp-validation-for="BatchStartDate" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">@Html.DisplayNameFor(m => m.BatchEndDate)</label>
            <input class="form-control" asp-for="BatchEndDate" />
            <span asp-validation-for="BatchEndDate" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-end gap-2">

            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">
                Cancel
            </button>

            <button type="submit" id="btnSaveBatch" class="btn btn-success ladda-button" data-style="zoom-in">
                <span class="ladda-label">Save</span>
            </button>

        </div>

    </form>

</div>


