@{
    Layout = null;
}
<div class="offcanvas offcanvas-end" tabindex="-1" id="lessonRequestOffcanvas" aria-labelledby="lessonRequestOffcanvasLabel">

    <div id="lessonRequest-offcanvas-content"></div>

</div>